<main >

    <div class="titulo">
        <img src="imagens/ferradura.png" class="ferradura" alt="ferradura"><h1>Nossa história</h1><img src="imagens/ferradura.png" class="ferradura" alt="ferradura">
    </div>

    <div class="historia">
        <p> O Centro Equestre Golden Horse inaugurou no ano de 2005, iniciando uma criação de cavalos Puro sangue lusitano.
            Diante de grande demanda, com o passar dos anos a propriedade foi expandindo seus serviços e atualmente conta com
            serviços como aulas de hipismo nas modalidades: salto, adestramento e volteio; treinamento de cavalos; e hospedagem
            para cavalos de esporte. O centro equestre Golden Horse conta com 10 piquetes de 20 metros quadrados, uma pista de
            adestramento clássico, uma pista de salto, um redondel, 20 cocheiras e muito espaço para você passear com seu cavalo!
            Venha nos conhecer, este é o verdadeiro paraíso para você e seu cavalo! </p>
         <img src="imagens/foto01.jpg" alt="foto_cavalos">
    </div>
</main>