<main>

    <div class="mainImg"><img src="/imagens/template.png" alt="Template do site"></div>

    <div class="titulo"><img src="imagens/ferradura.png" class="ferradura" alt="ferradura"><h1>Nossos Serviços</h1><img src="imagens/ferradura.png" class="ferradura" alt="ferradura"></div>

    <div class="categorias">
        <a href="/modalidades"><img src="imagens/modalidades.gif" alt="modalidades oferecidas"></a>
        <a href="/"><img src="imagens/hospedagem.png" alt=""></a>
        <a href="/"><img src="imagens/treinamento.png" alt=""></a>
    </div>
</main>