<main>

    <div class="modalidade">
        <img src="imagens/dressage.png" alt="foto_dressage">
        <div>
            <h1>Dressage - Adestramento Clássico</h1>
            <p>
                Esta é a modalidade base para você se tornar um cavaleiro de excelência. No adestramento clássico você aprenderá a 
                base da equitação, assim como outros movimentos do adestramento clássico como espádua a dentro, espádua a fora, 
                cedência à perna, renver, traver, piaffe e passage.
            </p>
        </div>

    </div>

    <div class="modalidade">
        <img src="imagens/volteio.jpg" alt="foto_volteio">
        <div>
            <h1>Volteio</h1>
            <p>
                Já pensou em ficar em pé encima de um cavalo?! No volteio você pode fazer isso e muitos outros movimentos acrobáticos.
                 No volteio, o cavalo é comandado pelo longer enquanto o volteador faz movimentos encima do cavalo em movimento!
            </p>
        </div>

    </div>

    <div class="modalidade">
        <img src="imagens/salto.png" alt="foto_salto">
        <div>
            <h1>Salto de obstáculos</h1>
            <p>
                Se você está em busca de adrenalina e emoção esta modalidade é para você! Temos cavalos de diferentes níveis e com ótima índole.
                Aqui nós nos preocupamos com sua segurança e garantimos todas as medidas de proteção e cuidados necessários.
            </p>
        </div>

    </div>
</main>